<div class="row" icon-view>
    {{boss}}
    <div class="icon-list col-lg-4">
        <div class="well">
            <h4>{{ iconInfo.name}}</h4>
            <svg-image src="data"></svg-image>
        </div>
    </div>
    <div class="icon-list col-lg-4">
        <div class="well">
            <dl>
                <dt>Collection</dt>
                <dd>
                    <a class="badge" href="#/icons/collections/{{ iconInfo.collection.id}}">{{ iconInfo.collection.name}}</a>
                </dd>
                <dt>Tags</dt>
                <dd>
                    <a ng-repeat='tag in iconInfo.tags' class="badge" href="#/tags/{{tag.name}}">
                        {{tag.name}}
                    </a>
                </dd>
                <dt>Versions</dt>
                <dd>
                    <span ng-repeat='v in iconInfo.versions' class="badge">
                        {{v.version}}
                    </span>
                </dd>
            </dl>
        </div>
        <div class="well">
            <h5>Useful Metadata</h5>
            <dl>
                <dt ng-repeat-start='kv in metadata'>{{kv.key}}</dt>
                <dd ng-repeat-end>
                    <span>{{kv.value}}</span>
                    <span ng-if="kv.href">
                        <a href="{{kv.href}}" target="_">more</a>
                    </span>
                </dd>
            </dl>
        </div>
    </div>
    <div class="icon-list col-lg-4 ">
        <form class="well form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">Fill:</label>
                <div class="col-sm-8">
                    <input type="color" class="form-control" ng-model="color.fill">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Stroke:</label>
                <div class="col-sm-8">
                    <input type="color" class="form-control" ng-model="color.stroke">
                </div>
            </div>
            <svg-image src="colored"></svg-image>
            <div style="margin-top:1em" class="clearfix">
                <a class="btn btn-info col-sm-offset-4 col-sm-4" target="_" href="{{coloredLink}}">Colored Link</a>
            </div>
        </form>
    </div>
</div>
<div class="well">
    <h5>Edit the SVG</h5>
    <tabset type="pills">
        <tab heading="Original">
            <svg-editor class="panel" ng-if="data" data="data" change="change"></svg-editor>
        </tab>
        <!-- annoying redraw issue w/ hidden code mirror-->
        <tab heading="Colored" select="colorEditorSelected=true">
            <svg-editor read-only="true" class="panel" ng-if="colored" data="colored" is-active="colorEditorSelected"></svg-editor>
        </tab>
    </tabset>
</div>